{{ define "swarmrobot.text.message" }}
{{ if gt (len .Alerts.Firing) 0 -}}
{{ range .Alerts -}}
=========== 监控告警===========
告警程序: Alertmanager
告警类型: {{ .Labels.alertname }}
告警级别: {{ .Labels.status }} 
告警状态: {{ .Status }} 
故障主机: {{ .Labels.instance }} 
告警详情：{{ .Annotations.summary }}
主机标签：{{ range .Labels.SortedPairs }}[{{ .Name }}:{{ .Value }}]{{ end }}
故障时间：{{ .StartsAt.Format "2006-01-02 15:04:05" }}
============= end ==============
{{- end }}
{{- end }}
{{ if gt (len .Alerts.Resolved) 0 -}}
{{ range .Alerts -}}
=========== 监控恢复===========
告警程序: Alertmanager
告警类型: {{ .Labels.alertname }}
告警级别: {{ .Labels.status }} 
告警状态: {{ .Status }} 
故障主机: {{ .Labels.instance }} 
告警详情：{{ .Annotations.summary }}
主机标签：{{ range .Labels.SortedPairs }}[{{ .Name }}:{{ .Value }}]{{ end }}
故障时间：{{ .StartsAt.Format "2006-01-02 15:04:05" }}
恢复时间：{{ .EndsAt.Format "2006-01-02 15:04:05" }}
============= end ==============
{{- end }}
{{- end }}
{{- end }}

{{ define "swarmrobot.markdown.message" }}
{{ $slsField := stringSlice "region_name" "app_name" "file" "message" "error" "trace_seq" -}}
{{ $proField := stringSlice "hostname" "region_name" "service" "groupname" -}}
{{ $sysField := stringSlice "content" "hostname" -}}
{{ if gt (len .Alerts.Firing) 0 -}}
{{ range $index,$alert := .Alerts -}}
<font color="warning">Alert: {{ $alert.Annotations.summary }}</font>
{{ if and (gt (len $alert.Labels.message) 0) (ne $alert.Labels.message "null" ) -}}
{{ range $k,$v := $slsField -}}
{{ if gt (len (index $alert.Labels $v)) 0 -}}
>{{ $v }}: <font color="comment">{{ index $alert.Labels $v }}</font>
{{ end -}}
{{ end -}}
>故障时间: <font color="comment">{{ .StartsAt.Format "2006-01-02 15:04:05" }}</font> 
{{ else if gt (len $alert.Labels.content) 0 -}}
{{ range $k,$v := $sysField -}}
{{ if gt (len (index $alert.Labels $v)) 0 -}}
>{{ $v }}: <font color="comment">{{ index $alert.Labels $v }}</font>
{{ end -}}
{{ end -}}
>故障时间: <font color="comment">{{ .StartsAt.Format "2006-01-02 15:04:05" }}</font> 
{{ else -}}
{{ range $k,$v := $proField -}}
{{ if gt (len (index $alert.Labels $v)) 0 -}}
>{{ $v }}: <font color="comment">{{ index $alert.Labels $v }}</font>
{{ end -}}
{{ end -}}
>故障时间: <font color="comment">{{ ($alert.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}</font> 
{{- end }}
{{- end }}
{{- end }}
{{ if gt (len .Alerts.Resolved) 0 -}}
{{ range $index,$alert := .Alerts -}}
<font color="info">Recover: {{ $alert.Annotations.summary }}</font>
{{ if and (gt (len $alert.Labels.message) 0) (ne $alert.Labels.message "null" ) -}}
{{ range $k,$v := $slsField -}}
{{ if gt (len (index $alert.Labels $v)) 0 -}}
>{{ $v }}: <font color="comment">{{ index $alert.Labels $v }}</font>
{{ end -}}
{{ end -}}
>故障时间: <font color="comment">{{ $alert.StartsAt.Format "2006-01-02 15:04:05" }}</font> 
>恢复时间: <font color="comment">{{ $alert.EndsAt.Format "2006-01-02 15:04:05" }}</font> 
{{ else if gt (len $alert.Labels.content) 0 -}}
{{ range $k,$v := $sysField -}}
{{ if gt (len (index $alert.Labels $v)) 0 -}}
>{{ $v }}: <font color="comment">{{ index $alert.Labels $v }}</font>
{{ end -}}
{{ end -}}
>故障时间: <font color="comment">{{ $alert.StartsAt.Format "2006-01-02 15:04:05" }}</font> 
>恢复时间: <font color="comment">{{ $alert.EndsAt.Format "2006-01-02 15:04:05" }}</font> 
{{ else -}}
{{ range $k,$v := $proField -}}
{{ if gt (len (index $alert.Labels $v)) 0 -}}
>{{ $v }}: <font color="comment">{{ index $alert.Labels $v }}</font>
{{ end -}}
{{ end -}}
>故障时间: <font color="comment">{{ ($alert.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}</font> 
>恢复时间: <font color="comment">{{ ($alert.EndsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}</font> 
{{- end }}
{{- end }}
{{- end }}
{{- end }}
